#home {
    background-image: url("https://i.ibb.co/jZFW0hd/bannerbackground.png");
    padding: 50px 0 50px 0;
    background-size: 100%;
    padding: 50px 0 50px 0;
    height: 500px;
    background-size: 100%
}